
@using Capstone.Web.Models
@model SurveyModel
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="container-fluid">
    @if (TempData["errorString"] as string == "You cannot post more than one survey for this park")
    {
        <p style="color:red">You cannot post more than one survey for a park</p>
    }
    <div>
        <form method="post" action="@Url.Action("FavoriteParks", "Home")">
            <p>Which park did you most enjoy?: @Html.DropDownListFor(m => m.ParkName, Model.PossibleParks)</p>
            <p>Email Address: @Html.EditorFor(m => m.Email, new { required = "required" })</p>
            @if (TempData["errorStringEmail"] as string == "You must enter an email address")
            {
            <p><span style="color: red">You must enter a valid email</span></p>
            }
             <p>What is your state of residence?: @Html.DropDownListFor(m => m.StateOfResidence, Model.PossibleStateOfResidence)</p>
            <p>What is your activity level?: @Html.DropDownListFor(m => m.ActivityLevel, Model.PossibleActivityLevel)</p>
            <input type="hidden" name="survey" value="@Model" />
            <input type="submit" />
        </form>
    </div>
</div>
